@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,400;0,500;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --azul-escuro: rgb(33, 126, 255);
    --azul-menos-escuro: rgb(82, 154, 255);
    --azul-claro: rgb(145, 189, 251);
    --cinza-escuro: #c4c4c4;
    --cinza-claro: #e7e7e7;
    --preto: #000000;
    --branco: #ffffff;
    ;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    padding: 25px;
    color: var(--preto);
}

y {
    font-size: 15px;
    color: var(--azul-escuro);
}

.y-1 {
    font-size: 28px;
    color: var(--azul-escuro);
}

.titulo-main {
    font-family: 'Allura', cursive;
    font-size: 60px;
    color: var(--azul-escuro);
    text-align: center;
    margin-top: 20px;
}

.subtitulo-main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--azul-claro);
    text-align: center;
    margin-top: -7px;
}

.container-header-1 {
    background-color: var(--cinza-claro);
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-header-1 .lista-header-1 i {
    margin-top: 9px;
    padding: 4px;
    font-size: 30px;
    color: black;
}

.container-header-1 .lista-header-1 i:hover {
    color: var(--azul-escuro);
    background-color: var(--cinza-claro);
}

.lista-header-2 {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: -55px;
}

.container-header-2 {
    background-color: var(--branco);
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lista-header-3 {
    display: flex;
    justify-content: end;
    margin-top: -70px;
    padding: 20px;
}

.lista-header-3 i {
    font-size: 30px;
    color: black;
}

.lista-header-3 i:hover {
    color: var(--azul-escuro);
    background-color: var(--cinza-claro);
}

.container-header-3 {
    background-color: var(--cinza-claro);
    width: 100%;
    height: 67px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
}

.container-header-4 {
    display: flex;
    justify-content: end;
    padding: 25px;
    margin-top: -60px;
}


.barra-pesquisa {
    margin-top: 12px;
    width: 500px;
    height: 38px;
    border-radius: 20px;
    border: 2px solid #353535;
}

.barra-pesquisa:focus {
    outline: none;
    border-color: var(--preto);
    box-shadow: 0 0 1px #000000;
}

.categorias-header {
    background-color: var(--cinza-escuro);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 70px;
    display: flex;
}

.menu-1 {
    display: flex;
    display: none;
    height: 70px;
    margin-top: -6px;
}

.menu {
    cursor: pointer;
    margin-top: px;
    padding: 15px;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background-color: var(--azul-escuro);
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--preto);
    margin: 5px auto;
}

.bar-text {
    color: var(--preto);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.icones-hover:hover {
    transform: scale(1.1);
}

.container1-main {
    margin-left: 50px;
    margin-top: 20px;
}

.container2-main {
    margin-left: 50px;
    margin-top: 5px;
    text-align: center;
}

.geral {
    border: none;
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.border-pvc {
    border-radius: 10px;
    margin: 20px 0;
    margin-top: -5px;
    padding: 0px;
    background-color: var(--branco);
    transition: border-color 0.3s ease-in-out;
}

.geral .border-pvc ul img {
    height: 400px;
    width: 300px;
}

.border-pvc ul {
    display: flex;
    justify-content: center;
}

.border-pvc ul img {
    width: 80%;
    height: auto;
}

.border-pvc {
    transition: transform 0.2s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.border-pvc:hover {
    transform: scale(1.04);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.text-1 {
    font-size: 20px;
}

.texto-2 {
    font-size: 18px;
}

.texto-3 {
    font-size: 18px;
    color: var(--azul-claro);
    padding: 10px;
}

.texto-4 {
    font-size: 22px;
    color: var(--azul-escuro);
}

.text-5 {
    margin-top: -20px;
}

.font-text {
    font-size: 15px;
}

.button-comprar {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--azul-menos-escuro);
    margin-top: 10px;
    border-radius: 3px;
}

.button-comprar:hover {
    background-color: rgb(135, 176, 251);
}